<main class="container border-2">
  <p class= "comment_content ml-2">
   <%= comment.content %> 
  </p>
  
  <p class="comment__author italic text-xs ml-2 ">
    <%= "by " + comment.user.email.to_s %>
  </p>

  <% if comment.user == current_user %>
    <div class="flex items-center ml-2">
      <%= link_to "edit",
        edit_post_comment_path(comment, comment.post_id), 
        class: "btn-primary-smaller"%>

      <%= button_to "Delete", 
          post_comment_path(comment.post.id, comment.id, page: params[:page]), 
          method: :delete, 
          class: "btn-danger-smaller",
          data: { turbo_frame: "comment_" + comment.post.id.to_s } %>
    </div>
  <% else %>
  <% end %>
</main>