<div class="p-2 hover:scale-105">
  <div class= "user border-2 border-slate-500 border-opacity rounded-3xl p-2 hover:shadow-2xl pl-4">
    <div class="user__email #{user.id}">
      <p class="text-slate-200">Email:<p>
      <p class="text-slate-200"> <%= user.email %> </p>
    </div> 
    <% unless user.admin %>
      <%= button_to "Delete", user, method: :delete, class: "btn-danger" %>
    <% else %>
    <% end%>
  </div>
</div>