<main class="container">
  <div class= "user">
    <div class="user__email #{user.id}">
      <p class="text-slate-200">Email:<p>
      <p class="text-slate-200"> <%= user.email %> </p>
    </div> 
    <% unless user.admin %>
      <%= button_to "Delete", user, method: :delete, class: "btn-danger" %>
    <% else %>
    <% end%>
  </div>
</main>