<main class="container pl-10">
  <%= will_paginate @posts %>

  <%= tag.p @posts.count.to_s + " Posts found", class: "text-center pt-4" %>
  <%= render @posts %>

  <%= will_paginate @posts %>

  <div class="admin_message">
    <% if current_user.admin == true %>
      <p class="italic">Welcome admin</p>
    <% end %>
  </div>
</main> 
