<%# <turbo-frame id="<%= params.fetch(:turbo_frame, "search_results") %>

<% unless @tags.count == 0 %>
  <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white",
      data-controller="search">
    <% @tags.each do |t| %>
      <li data-search-target="title">
        <%= link_to t.title, posts_path%>
      </li>
    <% end %>
  </ul>
<% else %>
<% end %>
<%# </turbo-frame> %>