<%# <turbo-frame id="<%= params.fetch(:turbo_frame, "search_results") %>
<% if @tags.count == 0 %>
  <h1>No results found for '<%= params[:query] %>'</h1>
<% else %>
  <h1 class="underline" >Results</h1>
<% end %>

<ul role="listbox" data-combobox-target="list">
  <% @tags.each do |t| %>
    <li>
      <%= link_to highlight(t.title, params[:query]), tag_path(t),
          id: dom_id(t, :search_result), role: "option", class: "aria-selected:outline-black" %>
      
    </li>
  <% end %>
</ul>
<%# </turbo-frame> %>