<main class="container">
  <div class= "post">
    <div class="Title Link">
      <%= link_to post.title, post_path(post) %>
    </div>
      <div class="post__content">
        <%= tag.p post.content %>
      </div>
  </div>
</main>