<main class="container pl-10 pt-4">
  <div class="flex space-x-4 items-center justify-center">
    <%= turbo_frame_tag "turbo_new_post" do %>
      <div class="text-center">
        <%= link_to "Create Post",
                    new_post_path,
                    class: "btn-primary",
                    data: { turbo_frame: "turbo_new_post" } %>
        <%= link_to "View drafts",
                    "/index_drafts",
                    class: "btn-primary",
                    data: { turbo:  false }%>
      </div>
    <% end %>
  </div>
  <div id="posts">
  </div>
  <%= turbo_frame_tag "pagination", src: posts_path(format: :turbo_stream), loading: :lazy %>
  <div class="admin_message">
    <% if current_user.admin == true %>
      <p class="italic">Welcome admin</p>
    <% else %>
    <% end %>
  </div>
</main> 
