<main class="container mx-auto pt-20">
  <div class="flex space-x-4 items-center justify-center">
    <div class="text-center p-2">
      <%= link_to "Create Post",
                  new_post_path,
                  class: "btn-primary" %>
      <%= link_to "View drafts",
                  "/index_drafts",
                  class: "btn-primary" %>
    </div>
  </div>
  <div id="posts">
  </div>
  <%= turbo_frame_tag "pagination", src: next_page_posts_path(format: :turbo_stream), loading: :lazy do %> 
    <p class="text-lg text-slate-100 animate-pulse">
      Loading more...
  <% end %>
</main> 
