<main class="container">
  <div class="header">
    <h1>Post</h1>
    <%= link_to "Create Post",
                new_post_path,
                class: "btn btn--primary" %>
  </div>
  <%= render @posts.ordered %>
  <% if current_user.admin == true %>
    <h2>Welcome admin</h2>
  <% else %>
  <% end %>
</main>