<div class= "pt-20">
  <div class="text-center p-3">
    <%= link_to "Create Post",
                new_post_path,
                class: "btn-primary" %>
    <%= link_to "View drafts",
                "/index_drafts",
                class: "btn-primary" %>
  </div>
  <%= render @post %>
</div>