@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}
.navbar_users{
  padding: 10px;
}
/* .new_user_button{
  padding: 15px;
} */
/* .post_actions{
  display: flex;
  padding: 5px;
  align-items: center
  ;
} */

.button_to{
  padding: 10px;
}
.admin_message{
  margin-left: 5px;
  padding: 10px;
}
/* .post{
  margin-left: 5px;
  padding: 10px;
} */
.pagination{
  @apply flex justify-center;
  @apply my-2 py-2;
}
.pagination * {
  @apply px-3 py-2 mx-2;
  @apply text-gray-700 no-underline bg-white rounded-lg;
}
.pagination a:hover {
  @apply font-semibold text-gray-200 bg-gray-700;
}