<div class="navbar flex p-2 pt-4 ml-2">
    <h1 class="font-bold text-6xl text-blue-500 ml-4 pt-2"> Jack's Blog </h1>
  <div class= "navbar_actions">
    <% if user_signed_in? %>

      <div class="navbar_logout pt-5">
        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn-danger-smaller" %>
      </div>

      <%if is_admin? %>
        <div class="navbar_users pt-5">
          <%= button_to "Users", users_path, method: :get, class: "btn-primary" %>
        </div>
        
      <% else %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
